@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

@font-face {
    font-family: 'fonte';
    src: url('../fontes/Kanit-light.ttf') format('truetype');
}

*{
    font-family: 'fonte', Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
/*style para celulares*/


:root{
    --fonte:'fonte', Helvetica, sans-serif; 
    --fonte:'Roboto Condensd', Helvetica, sans-serif;
    --cor:#969a97;
    --cor2:#d6d1cd;
    --cor3:#173753;
    --cor4:#1B4353;
}

html, body{
    width: 100vw;
    height: 100vh;
    background: #000 url('../imagem/pexel-novo.jpg') left center no-repeat fixed;
    background-size:cover;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    width:100vw;
    height: 200px;
    padding: 10px;
}
header > img{
    width: 50px;
    display: inline;
    border-radius: 50%;
    border: 3px solid var(--cor);
    box-sizing: border-box;
    margin-top: 10px;
}header h1{
    display: inline;
    color: #fff;
    text-shadow: 1px 3px 3px #000;
    font-size: 2.5em;
    position: absolute;
    transform: translate(10px, 5px);
}
header p{
    font-weight: bold;
}
header menu{
    width: 400px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
header menu > a{
    text-decoration: none;
    font-family: var(--fonte);
    font-weight: bolder;
    font-size: 1.3em;
    margin-left: 30px;
    background-color: var(--cor);
    color: var(--cor3);
    padding: 20px;
    box-sizing: border-box;
}
header menu > a:hover{
    background-color:#fff;
    border: 2px solid var(--cor3);
    box-sizing: border-box;
    transition: .5s;
}
main article > iframe{
    height: 1240px;
    width: 100%;
    margin: auto;
    display: block;
}
main article p{
    padding: 10px;
    font-weight: bold;
    color: #323131;
    margin-top: 20px;
}
main article  table{
    width: 95vw;
    margin: auto;
    background-color: var(--cor);
}main article table th{
    /*para colecar no topo*/
}