@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

@font-face {
    font-family: 'fonte';
    src: url('../fontes/Kanit-light.ttf') format('truetype');
}

*{
    font-family: 'fonte', Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
/*style para celulares*/


:root{
    --fonte:'fonte', Helvetica, sans-serif; 
    --fonte:'Roboto Condensd', Helvetica, sans-serif;
    --cor:#969a97;
    --cor2:#d6d1cd;
    --cor3:#173753;
    --cor4:#1B4353;
}

html, body{
    width: 100vw;
    height: 100vh;
    background: #000 url('../imagem/pexel-novo.jpg') left center no-repeat fixed;
    background-size:cover;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    width:100vw;
    height: 200px;
    padding: 10px;
}
header > img{
    width: 50px;
    display: inline;
    border-radius: 50%;
    border: 3px solid var(--cor);
    box-sizing: border-box;
    margin-top: 10px;
}header h1{
    display: inline;
    color: #fff;
    text-shadow: 1px 3px 3px #000;
    font-size: 2.5em;
    position: absolute;
    transform: translate(10px, 5px);
}
header p{
    font-weight: bold;
    padding: 5px;
}
header menu{
    width: 90vw;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
header menu > a{
    text-decoration: none;
    font-family: var(--fonte);
    font-weight: bolder;
    font-size: 1.3em;
    margin-left: 10px;
    background-color: var(--cor);
    color: var(--cor3);
    padding: 15px;
    box-sizing: border-box;
}
header menu > a:hover{
    background-color:#fff;
    border: 2px solid var(--cor3);
    transition: .5s;
    box-sizing: border-box;
}
main table caption{
    font: 600 1.2em var(--fonte);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.666);
}
main article > iframe{
    height: 1250px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 50px;
}
main article > p{
    padding: 10px;
    font-weight: bold;
    color: #323131;
    margin-top: 20px;
}
main article  table{
    width: 95vw;
    margin: auto;
    background-color: var(--cor);
    border-collapse: collapse;
}
main article table thead th{
    background-color: #fff;
}
main article table tr:nth-child(2n){
     background-color: #fff;

}
main article table  tr td { 
    border: 1px solid #000;
    text-align: center;
}
main article table th{
    vertical-align: top;
    border: 1px solid #000;
}
aside{
    width: 96vw;
    margin: auto;
}
aside > p{
    padding-left: 10px;
    font-weight: bold;
}
 aside fieldset > legend{
    margin-left: 20px;
    font-weight: 600;
 }
 aside fieldset div{
    text-indent: 2em;
 }
 aside fieldset label{
    color: #fff;
    text-shadow: 1px 1px 1px #000000aa;
    font-weight: 500;
 }
 aside fieldset [type=text]{
    display: block;
    margin-left: 30px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-bottom: 2px solid #000;
 }
 aside fieldset [type=date]{
    display: block;
    margin-left: 30px;
    background-color: #00000004;
    border: 0px;
    border-bottom: 2px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 aside fieldset p{
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.673);
 }
 aside fieldset div#chackbox label{
    margin-left: 30px;
 }
 aside fieldset [type=checkbox]{
    margin-top: 10px;
    margin-bottom: 10px;
 }
 aside fieldset #radio label{
    margin-left: 30px;
    margin: 10px 0px 10px 0px;
    display: inline-block;
 }
 
 aside fieldset div#texto{
    margin: auto;
    width: 250px;
    
 }
aside fieldset div#texto p{
    margin-left: -30px;
    margin-bottom: 10px;
}aside fieldset [type=submit]{
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 10px 0px;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px .5px #000000f6;
}


footer{
    background-color: var(--cor3);
    margin-top: 20px;
}
footer  p{
    color: var(--cor);
    font-family: var(--fonte);
    display: block;
    padding: 10px 0px 10px 0px ;
}    
 footer ul{
    text-decoration: none;
    columns: 2;
    padding-bottom: 20px;
    list-style-type: none;
 }
 footer ul a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #000;
 }
 footer ul a:hover{
    color: var(--cor);
    text-decoration: underline;
 }